services:
  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"  # MinIO API
      - "9001:9001"  # MinIO Console
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123
    command: server /data --console-address ":9001"
    volumes:
      - ./minio-data:/data

  api:
    build: ./api
    image: flask-api:v1.0.0
    container_name: flask-api
    ports:
      - "5000:5000"
    environment:
      MINIO_ENDPOINT: minio:9000      # όνομα service + port (ΧΩΡΙΣ http://)
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin123
      MINIO_BUCKET: files             # default bucket για τα αρχεία
    depends_on:
      - minio